<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-4 border-0 shadow-sm">
                <div class="card-body">
                    <h3>Update Task</h3>
                    <form (ngSubmit)="updateTask($event)">
                        <div class="mt-4">
                            <label for="">Task Title</label>
                            <input name="title" [(ngModel)]="task?.data.attributes.title" type="text"
                                class="form-control" placeholder="Enter Here...">
                        </div>
                        <div class="mt-4">
                            <label for="">Task Content</label>
                            <textarea name="content" [(ngModel)]="task?.data.attributes.content" rows="5"
                                class="form-control"></textarea>
                        </div>
                        <div class="form-check mt-2">
                            <input name="complete" [(ngModel)]="task?.data.attributes.complete" class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault">
                            <input name="complete" [(ngModel)]="task?.data.attributes.complete" class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="container text-center mt-3">
                            <button type="submit" class="btn btn-success">Add</button>
                            <div class="btn btn-warning ms-3">Reset</div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>